name: otel-tui

on:
  push:
    branches:
      # Local policy requires staging checks before pushing to main.
      - pkg-staging
    paths:
      - pkgs/otel-tui.nix
      - flake.lock

jobs:
  otel-tui:
    uses: ./.github/workflows/build-nix.yaml
    with:
      build_target: ".#otel-tui"
    secrets:
      cachix_auth_token: "${{ secrets.CACHIX_AUTH_TOKEN }}"
